body
{
  background: black;
  text-align: center;
  margin: 50px;
}
.clock 
{
  margin-top: 20px;
  display: inline-block;
  border: 2px solid black;
  width: 850px;
  height: 400px;
  top: 200px;
  border-radius: 5px;
  background-color: #CFCFD8;

}
.settings {
  color: white;
}

.instruction
{
  font-size: 1em;
}

.player
{
  display: inline-block;
  font-size: 3em;
  padding: 1em; 
}
.counter
{
  margin-top: 1em;
  font-family: 'digital';
  color: blue;
}

@font-face
{
  font-family: 'digital';
  src: 
  url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}
.buttons {
  display: inline-block;
}
#stop_button 
{
  display: inline-block;
  margin-bottom: 1em;
  font-size: 2em; 
  border-radius: 5px;
}
#set_button
{
  display: inline-block;
  margin-bottom: 1em;
  font-size: 2em; 
  border-radius: 5px;
}
#set_names
{
  display: inline-block;
  margin: 1em;
  font-size: 2em; 
  border-radius: 5px;
}
#click_button
{
  display: inline-block;
  margin-bottom: 1em;
  font-size: 2em; 
  border-radius: 5px;
}
p
{
  color: white;
  font-size: 2em;
}