body
{
  font-family: 'digital';
  background: black;
  text-align: center;
  margin: 1rem;
}

p
{
  margin-left: 15rem;
  color: white;
  font-size: 1.5rem;
  text-align: left;
  font-family: Verdana, sans-serif;
}

img
{
  width: 9rem; 
  height: 9rem;
}

li
{
  display: inline-block;
}

.dropdown-panel 
{
  font-family: Verdana, sans-serif;
}

.helpers 
{
  display: block;
  margin-left: -3em;
}

.clock 
{
  margin-top: 2em;
  display: inline-block;
  border: 0.1em solid white;
  width: 61em;
  height: 27em;
  border-radius: 3em;
  background-color: #A8A8AA;
  background: -webkit-linear-gradient(#AAAAAA, #111111); /* For Safari */
  background: -o-linear-gradient(#AAAAAA, #111111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#AAAAAA, #111111); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#AAAAAA, #111111); /* Standard syntax */
}

.player
{
  display: inline-block;
  position: relative;
  font-size: 4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-width: 2em;

}
.chess_knight 
{
  display: inline-block;
}

.names
{
   box-shadow: 1px 2px 2px black; 
}

.counter
{
margin-top: 0.3em;
color: white;
text-align: left;
}

.intertimer
{
color: white;
text-align: left;

}

@font-face
{
  font-family: 'digital';
  src: 
  url('DS-DIGII.TTF');
}

.buttons 
{
  font-family: 'digital';
  display: inline-block;
  margin: 0.5em;
  font-size: 2em; 
  margin-bottom: 1em;
  color: white;
}


.hide_info
{
  display: none;
}

.clock_button
{
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  display: inline-block;
  font-size: 2em; 
  border-radius: 0.5em;
}

#player_1
{
  color: black;
  background-color: #EEEEEE;
  border-radius: 0.2em;
  min-width: 4.2em;
}
#player_2
{
  color: white;
  background-color: black;
  border-radius: 0.2em;
  min-width: 4.2em;
}
#info_button
{
  color: black;
  background-color: white;
}